---
title: Topics
description: "Here you can get insights into industry trends. View more information here!"
canonical_path: "/topics/"
suppress_header: true
disable_default_styles: true
disable_handbook_styles: true
slippers_preflight: true
extra_css:
  - topics2020.css
---
<main class='slp-container slp-mx-auto'>
  <section id="topics-header">
    <h1 id="topics-header__heading"><%= data.topics.title %></h1>
    <p id="topics-header__content"><%= data.topics.subtitle %></p>
  </section>
  <section class="topics-grid">
    <h3 class="topics-grid__heading"><%= data.topics.most_recent %></h3>
    <ul class="topics-grid__list">
      <% data.topics.topics.each do |topic| %>
        <li class="topics-grid__list-item slp-border slp-border-grayscale-highlight slp-border-solid slp-border-grayscale-333 slp-rounded-md slp-mx-auto slp-shadow-lg">
          <div class="topics-grid__list-item-image-container">
            <img class="topics-grid__list-item-image" src="<%= topic.background %>"/>
          </div>
          <div class="topics-grid__list-item-content-container">
            <h4><%= topic.name %></h4>
            <a href="<%= topic.link %>" class="topics-grid__list-item-content-link" data-ga-name="<%= topic.name %>" data-ga-location="topics"><span class="hover:slp-underline"><%= data.topics.learn_more %></span> &#8594;</a>
          </div>
        </li>
      <% end %>
    </ul>
  </section>

</main>
